# 02 Merging Data
Combining the two locally saved datasets into one dataset and adding a column for identifying indian and american movies

In [1]:
import pandas as pd

In [2]:
amer_df = pd.read_csv('../data/american_plots.csv', index_col=0)
amer_df.head()

                   title                                               plot
0        10.0 Earthquake  As a series of minor earthquakes start tearing...
1       12 Rounds (film)  A sting operation to capture arms dealer Miles...
2  12 Rounds 3: Lockdown  Detective Tyler Burke  and his two men infiltr...
3                200 mph  When the older brother (Tommy Nash) he idolize...
4     Ablaze (2001 film)  Andrew Thomas is an agent tasked with recordin...

In [3]:
ind_df = pd.read_csv('../data/indian_plots.csv', index_col=0)
ind_df.head()

,title,plot
0,4 the People,"Aravind (Arun), Vivek (Bharath), Eshwar (Arjun..."
1,Aa Gaya Hero,ACP Ravindra Varma (Govinda) is a daredevil an...
2,Aadmi (1993 film),Aadmi is the story of an honest man (Vijay M. ...
3,Aadu Puli Attam (1977 film),"The movie starts with Kamal and Rajini, close ..."
4,Aag Aandhi Aur Toofan,The story revolves around attempts by several ...

In [4]:
ind_df['is_indian'] = 1
ind_df.head()

,title,plot,is_indian
0,4 the People,"Aravind (Arun), Vivek (Bharath), Eshwar (Arjun...",1
1,Aa Gaya Hero,ACP Ravindra Varma (Govinda) is a daredevil an...,1
2,Aadmi (1993 film),Aadmi is the story of an honest man (Vijay M. ...,1
3,Aadu Puli Attam (1977 film),"The movie starts with Kamal and Rajini, close ...",1
4,Aag Aandhi Aur Toofan,The story revolves around attempts by several ...,1

In [5]:
amer_df['is_indian'] = 0
amer_df.head()

,title,plot,is_indian
0,10.0 Earthquake,As a series of minor earthquakes start tearing...,0
1,12 Rounds (film),A sting operation to capture arms dealer Miles...,0
2,12 Rounds 3: Lockdown,Detective Tyler Burke and his two men infiltr...,0
3,200 mph,When the older brother (Tommy Nash) he idolize...,0
4,Ablaze (2001 film),Andrew Thomas is an agent tasked with recordin...,0

In [6]:
df = pd.concat([amer_df, ind_df], ignore_index=True)
df

,title,plot,is_indian
0,10.0 Earthquake,As a series of minor earthquakes start tearing...,0
1,12 Rounds (film),A sting operation to capture arms dealer Miles...,0
2,12 Rounds 3: Lockdown,Detective Tyler Burke and his two men infiltr...,0
3,200 mph,When the older brother (Tommy Nash) he idolize...,0
4,Ablaze (2001 film),Andrew Thomas is an agent tasked with recordin...,0
...,...,...,...
3995,Choked (film),Sarita Pillai and Sushant Pillai are a married...,1
3996,Chumbak,"Chumbak is a coming-of-age story of Baalu, a t...",1
3997,Chungakkarum Veshyakalum,Chungakkarum Veshyakalum is the story of a Mal...,1
3998,Chuzhi,Varghese is a planter who lives with his wife ...,1
3999,Cinema Paithiyam,Jaya is a cinephile. So obsessed is she with c...,1

In [7]:
df.to_csv('../data/merged_plots.csv')